.featured{
    margin-top:  -50px; ;
}
.featured h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #002147;
    margin-bottom: 2rem;

}
.boxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.featured article{
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    max-width: 370px;
}
.featured article .img_box{
    position: relative;
    width: 100%;
    
}
article .logo {
    background-color: #FFFFFF;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -10%;
    left: 1rem;

}
article .box_content{
    margin: 2rem 0 1rem 1rem;
}
.box_content h4{
    color: #002147;
    font-size: 18px;
}
.box_content h5{
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0.3rem;
}



@media (max-width:768px) {
    .boxes{
        
        grid-template-columns: repeat(1,1fr);
    
}
.featured{
    margin-top:  10px; ;
}

}

@media (min-width:768px) and (max-width:1200px) {
    .boxes{
        
        grid-template-columns: repeat(2,1fr);
        
    }
    .featured{
        margin-top:  10px; ;
    }
 
}
/* article .logoo .img_logo{

} */